@tailwind base;
@tailwind components;
@tailwind utilities;

.home__background--invisible-gradient {
    background: url(./images/bg-gradient.png);

    background-repeat: no-repeat;
    background-attachment: fixed;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    background-size: 100%;
}

/* .home__background--gradient {
    background: url(./images/gradient-mobile.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 200%;
    position: absolute;
    top: 0;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1420px) {
    .home__background--gradient {
        background-size: cover;
    }
}

@media screen and (min-width: 1660px) {
    .home__background--invisible-gradient {
        background-attachment: unset;
    }
}

.fk {
    background: linear-gradient(180deg, #ffb6ff, #b344ff);
}
